{% extends 'base.html' %}
{% block title %}{{ photo.signature }}{% endblock %}
{% block content %}
    <div class="text-center">
        <h1>{{ photo.signature }}</h1>
        <div class="row">
            <div class="col col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
                <img src="{{ photo.photo.url }}" class="img-fluid" alt="{{ photo.signature }}">
            </div>
        </div>
        <p><a href="{% url 'webapp:photo_update' photo.pk %}" class="btn btn-primary">Изменить</a></p>
        <p><a href="{% url 'webapp:photo_delete' photo.pk %}" class="btn btn-primary">Удалить</a></p>

     <div class="text-center">
        {% for comment in photo.photo_comments.all %}
            <div class="#">
                <p>{{ comment.author }} commented at {{ comment.create_at|date:'d.m.Y H:i:s' }}</p>
                <p>{{ comment.descr }}</p>
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
     </div>
    </div>
{% endblock %}